# ==================================================
# 1. database (mysql/mariadb)
# ==================================================

# The root password for the database server (keep this as a secret)
MARIADB_ROOT_PASSWORD=put a random long password here or a secure root password

# The password for Redis database
REDIS_PASSWORD=put a random long password

# the database name for pterodactyl panel
# you should keep "panel" since the original documentation uses "panel" by default
MARIADB_DATABASE=panel

# the database password for the "pterodactyl" user (it's recommended to use a different password and not pasting the root password)
MARIADB_PASSWORD=put a random long password or use a secure password if you intend to login into the database later for advanced configurations

# ==================================================
# 2. panel configuration
# ==================================================
# NOTE: you will need to to include `http` or `https` protocol here.
# it should look like this: "https://panel.example.com" (if you use http)
# but it shouldn't look like this: "panel.example.com"
#
# the url that you are going to use for the panel.
APP_URL=https://panel.example.com

# ==================================================
# 3. security configuration
# ==================================================

# NOTE:
# - `APP_KEY` encrypts data for the panel. Must be exactly 32 chars.
# - You can generate `APP_KEY` by using this command: echo "base64:$(openssl rand -base64 32)"
# and then copy the output (COPY THE "base64:" too), and paste it into the environmental variable below.
# - it should look like this: APP_KEY=base64:...... (where the "......" is random characters)
APP_KEY=

# NOTE:
# - `HASHIDS_SALT` will scramble public database IDs in your URLs.
# - the requirement: random 20-40 character alphanumberic string.
# - you can generate `HASHIDS_SALT` by using this command: openssl rand -base64 30 | tr -dc 'a-zA-Z0-9' | head -c 32
# and copy the the output string here. DO NOT CHANGE IT LATER!!
HASHIDS_SALT=
